<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_on_idea_template:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_on_idea_template_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc_on_idea_template/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_on_idea_template" />
        </element>
      </element>
    </root>
  </artifact>
</component>